* {
  margin: 0px;
  padding: 0px;
}

.full-page {
  width: 100%;
  height: 100dvh;
  background-color: rgb(255, 255, 255);
}

.section-calendario {
  width: 80%;
  padding: 10px;
  height: 100dvh;
}
.section-reservas {
  width: 20%;
  height: 100dvh;
  padding: 10px;
  background-color: rgb(239, 239, 239);
  overflow: scroll;
}
.section-dias {
  width: 40%;
  height: 100dvh;
  padding: 10px;
  background-color: rgb(239, 239, 239);
}
.section-horarios {
  width: 60%;
  height: 100dvh;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.card {
  padding: 20px;
  margin-bottom: 20px;
}

.logo {
  width: auto;
  height: 50px;
}

.btnReservar {
  background-color: #4fa932;
  color: white;
  border-radius: 5%;
  padding: 6px;
  text-decoration: none;
  cursor: pointer;
}
.btnReservar:hover {
  background-color: #428d29 !important;
}

.reset {
  background-color: #ff9900 !important;
  color: white !important;
  font-weight: bolder;
  border-radius: 5%;
  padding: 6px;
  text-decoration: none;
  margin-left: 10px;
}
.reset:hover {
  background-color: #da8300 !important;
}

.reservas {
  background-color: #4fa932 !important;
  color: white !important;
  font-weight: bolder;
  border-radius: 5%;
  padding: 6px;
  text-decoration: none;
}
.reservas:hover {
  background-color: #428d29 !important;
}

.btnReducir {
  background-color: rgb(160, 0, 0);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  color: white;
  cursor: pointer;
}
.btnReducir:hover {
  background-color: rgb(103, 0, 0);
}
.btnIncrementar {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #4fa932;
  color: white;
  cursor: pointer;
}
.btnIncrementar:hover {
  background-color: #428d29;
}

.hora {
  text-align: center;
}

h3 {
  margin-bottom: 10px;
}

table p {
  height: auto;
}

.nombreEnReserva {
  text-decoration: none !important;
  font-size: 14px;
  font-weight: bolder;
  color: black;
}

.celdaBloqueada {
  background-color: orange !important;
}

.label {
  width: 30%;
}

.input {
  padding: 10px;
}
.input input {
  width: 50px;
}

.checkbox {
  width: 20%;
  padding: 10px;
}
.checkbox input {
  width: 50px;
}

.precio {
  width: 25%;
}
.precio input {
  width: 100px;
}

form {
  padding: 20px;
}

.guardar {
  background-color: #4fa932 !important;
  color: white !important;
  font-weight: bolder;
  border-radius: 5%;
  padding: 6px;
  text-decoration: none;
}
.guardar:hover {
  background-color: #428d29 !important;
}

.size {
  padding-top: 10px;
  padding-bottom: 10px;
}
.size-10 {
  width: 10%;
}
.size-20 {
  width: 20%;
}
.size-35 {
  width: 35%;
}

.input-group {
  width: 60% !important;
}
.input-group-text {
  width: 40px;
}

tr {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btnGuardar {
  margin-top: 20px;
}

.tablaReserva tr {
  height: 30px;
}
.tablaReserva td {
  width: 300px;
}
.tablaReserva input {
  width: 200px;
}

/*# sourceMappingURL=styles.css.map */
