h3 {
  margin-bottom: 10px;
}
table p {
  height: auto;
}
.nombreEnReserva {
  text-decoration: none !important;
  font-size: 14px;
  font-weight: bolder;
  color: black;
}
.celdaBloqueada {
  background-color: orange !important;
}
